html, body {
    height: 100%;
    background-image: url("http://www.planwallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    /*background-color: lightblue;*/
}
.content-wrapper {
    height: 100%;
}
.content-wrapper .sidebar-left {
    /*background-color: lightgreen;*/
    float: left;
    height: 100%;
    width: 30%;
}
.content-wrapper .sidebar-left a {
    display: block;
}
.content-wrapper .content-main {
    /*background-color: burlywood;*/
    float: left;
    height: 100%;
    width: 50%;
}
.content-wrapper .sidebar-right {
    /*background-color: lightseagreen;*/
    float: right;
    height: 100%;
    width: 20%;
}
.footer {
    /*background-color: lightsalmon;*/
    clear: both;
}